<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>

            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/slider1.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1 style="color:crimson">Avukat <br> Miraç YILMAZ...</h1>
                        <p><font color="white">Sizlere Profosyonel Avukatlık & Hukuk <br> Danışmanlığı Hizmeti Sunmak için Buradayız.</font> </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="#who">BİZ KİMİZ</a>
                        </div>
                    </div>
                </div>

                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="/Contact/Index">İLETİŞİM</a>
                        </div>
                    </div>
                </div>
                @*<ol class="carousel-indicators">

                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel" data-slide-to="1" class=""></li>
                        <li data-target="#carousel" data-slide-to="2" class=""></li>
                    </ol>*@

            </li>
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/slider2yeni.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1 style="color:crimson">Profesyonel Destek <br> Doğru Bilgi</h1>
                        <p><font color="white">Sizlere Profosyonel Avukatlık & Hukuk <br> Danışmanlığı Hizmeti Sunmak için Buradayız.</font> </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="#who">BİZ KİMİZ</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="/Contact/Index">İLETİŞİM</a>
                        </div>
                    </div>
                </div>


            </li>
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/slider3-yeni.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <<div class="slide-content-box">
    <h1 style="color:crimson">Doğruluğun ve Güvenilirliğin <br> En Direkt Adresi</h1>
    <p><font color="white">Sizlere Profosyonel Avukatlık & Hukuk <br> Danışmanlığı Hizmeti Sunmak için Buradayız.</font> </p>
</div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="#who">BİZ KİMİZ</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="/Contact/Index">İLETİŞİM</a>
                        </div>
                    </div>
                </div>



            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->


<script>
    $(".carousel-swipe").each(function(){
	var swipe_obj = this;
	var mc = new Hammer(swipe_obj);
	mc.on("panleft panright panend panstart", function(event) {
		var obj_width = $(swipe_obj).width();
		xPos = event.deltaX;
		moveRight = xPos > 0;
		moveLeft  = !moveRight;
		prevClass = "right prev";
		nextClass = "next left";
		var percent =(1 - (xPos < 0 ? (xPos * (0-1)) / obj_width : xPos / obj_width)).toFixed(5);
		percent = percent < 0 ? 0 : percent;
		console.log(percent);
		$(swipe_obj).find(".item.active").css({"left": xPos+"px", "opacity": percent, "z-index": "9999"});
		if (moveLeft) {
			$(swipe_obj).find(".item").removeClass(prevClass);
			$(swipe_obj).find(".item.active").next().addClass(nextClass);
		} else {
			$(swipe_obj).find(".item").removeClass(nextClass);
			$(swipe_obj).find(".item.active").prev().addClass(prevClass);
		}
		if (event.type == "panend") {
			$(swipe_obj).find(".item").removeClass(nextClass + " " + prevClass);
			clickTo = moveLeft ? "[data-slide=next]" : "[data-slide=prev]";
			$(swipe_obj).find(clickTo).click();
			$(swipe_obj).find(".item").animate({left: "0", "z-index": '', opacity: 1}, 700);
		}
	});
});
</script>

<style>
    .carousel-caption {
        background: rgba(black, 0.3);
        padding: 15px;
        margin: 0;
        font-size: 19px;
        margin-bottom: 40px;
    }

    .carousel-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(black, 0.3);
        display: block;
        width: 100%;
        height: 5px;
    }
</style>